@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');
* {
  box-sizing: border-box;
}
:root {
  --main-bg: #dfdfe5;
  --cd-bg: #cfd2db;
  --fontgrey: #676a70;
  --goldcolor: #bd761b;
  --gold-box: #faf5ed;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background: var(--main-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__checkbox {
  position: relative;
  transform: translateX(-35px);
  transition: 0.4s;
}
.input__checkbox.active {
  transform: translateX(0);
}

.checkbox {
  appearance: none;
  position: absolute;
}
.checkbox__label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: var(--main-bg);
  margin-left: 13px;
}

.input {
  width: 60%;
  position: relative;
  min-height: 50px;
  border-radius: 14px;
  background: var(--cd-bg);
  display: flex;
  align-items: center;
}
.input__placeholder {
  margin-right: 5px;
  flex-basis: 300px;
  transition: 0.4s;
}
.input__placeholder.active {
  margin-left: 10px;
}
.placeholder__main {
  word-break: break-all;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: #676a70;
}
.placeholder__main:focus {
  outline: none;
}

.placeholder__task {
  word-break: break-all;
}
.golden {
  animation: anim ease-out forwards;
  animation-duration: 1s;
  background: transparent;
  font-size: 18px;
}
.input__buttons {
  display: none;
  align-items: center;
  opacity: 0.4;
}
.input__buttons.active {
  display: flex;
}
.input__calendar {
  width: 31px;
  height: 31px;
  background: var(--main-bg);

  border-radius: 6px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__select {
  width: 85px;
  height: 30px;
  background: var(--main-bg);
  border: 0;

  border-radius: 6px;

  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__select select {
  appearance: none;
  border: none;
}
.input__select select:focus {
  outline: none;
}
.input__select:before {
  content: '';
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 10px;
}
.input__select:after {
  content: '\f063';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  color: black;
  font-size: 10px;
  margin-left: 6px;
}
@keyframes anim {
  0% {
    transform: scale(1);
    font-size: 16px;
  }
  10% {
    color: var(--goldcolor);
    transform: scale(1.5);
    font-size: 20px;
  }
  60% {
    transform: scale(2);
    color: var(--goldcolor);
    font-size: 22px;
  }
  90% {
    transform: scale(2.5);
    font-size: 18px;
  }
  100% {
    font-size: 16px;
    transform: scale(1);
    color: var(--goldcolor);
  }
}
